* {margin: 0; padding: 0; border:0; }

.wrapper {
    margin: 0 auto;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 10px;
}

.nav ul a {
    text-decoration:none;
}

.nav ul li {
    padding: 5px;
    margin: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 50px;
}

h2 {
    font-family: cursive;
    font-size: 30px;
}

.image img {
    width:1200px;
    height: 500px;
    margin: 0 100px;
}

.diary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.paragraphs {
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
}

form legend {
    font-size: large;
    margin-bottom: 30px;
}

input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
