* {margin: 0; padding: 0; border:0; }

.wrapper {
    margin: 0 auto;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 10px;
}

.nav ul a {
    text-decoration:none;
}

.nav ul li {
    padding: 5px;
    margin: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 50px;
}

h2 {
    font-family: cursive;
    font-size: 30px;
}

/* for yoga1 home page */

.image img {
    width:1200px;
    height: 500px;
    margin: 0 100px;
}

.diary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.paragraphs {
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
}

/* for yoga2 sign up form page */

form legend {
    font-size: large;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

fieldset {
    border: 1px solid #cccccc;
    margin-left: 10px;
    padding-left: 10px;
}

legend {
    font-family: cursive;
}

#yoga-type {
    margin-bottom: 10px;
}

#bio {
    border: 1px solid #cccccc;
    height: 100px;
    width: 300px;
    padding-top: 10px;
}

button {
    margin-top: 20px;
    background-color: yellow;
}

button:hover {
    background-color: grey;
    color: white;
}

/* for yoga3 asana page */

.asanas {
    position: flex;
    flex-wrap: wrap;
}
.asanas img {
    height: 500px;
    width: 400px;
    margin: 20px;
}

/* for yoga4 more info page */

.more ul {
    margin-left: 20px;
}

.more ul a {
    text-decoration:none;
}
